shopping-module .loading:after {
  overflow: hidden;
  display: inline-block;
  vertical-align: bottom;
  -webkit-animation: ellipsis steps(4,end) 900ms infinite;
  animation: ellipsis steps(4,end) 900ms infinite;
  content: "\2026"; /* ascii code for the ellipsis character */
  width: 0px;
}

@keyframes ellipsis {
  to {
    width: 20px;
  }
}

@-webkit-keyframes ellipsis {
  to {
    width: 20px;
  }
}

shopping-module ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

shopping-module ul li.title {
    color: white;
    padding: 4px 8px;
    font-size: 1em;
    border-radius: .1em;
    margin: 2px 0;
    background-color: #3333cc;
}

shopping-module ul .up {
    background: #3333cc url('./chevrondown.png') no-repeat right;
    background-size: 28px auto;
}

shopping-module ul .down {
    background: #3333cc url('./chevron.png') no-repeat right;
    background-size: 28px auto;
}

shopping-module ul p.error-message {
    margin: 4px;
    color: red;
    font-weight: bold;
}

shopping-module ul li.item {
    padding: 2px 0;
}

shopping-module ul li.item div.item-container {
    width: 100%;
    display: inline-block;
}

shopping-module ul li.item div.item-container div.x-out {
    float: left;
    color: red;
    font-weight: bold;
    text-align: center;
    font-size: .9em;
    width: 6px;
}

shopping-module ul li.item div.item-container b {
    font-weight: bold;
    margin: 2px 12px;
    font-size: .9em;
    float: left;
    width: 5.8em;
    text-overflow: ellipsis;
}

shopping-module ul li.item div.item-container input {
    float: left;
    width: 2.8em;
    padding: 2px 4px;
}

shopping-module ul li.item div.item-container span.slash {
    margin-top: 3px;
    float: left;
}

shopping-module ul li.item div.item-container span.bought-by {
    font-size: .74em;
    margin-top: 4px;
    float: right;
    text-overflow: ellipsis;
}

shopping-module ul li.item div.item-container button.submit-item {
    background-color: #339966;
    color: white;
    border: 2px solid #339966;
    border-radius: .2em;
    margin: 0;
    float: right;
    padding: 4px;
}

shopping-module ul li.add-button {
    width: 100%;
    display: inline-block;
}

shopping-module ul li.add-button button {
    background-color: white;
    color: #339966;
    border: 2px solid #339966;
    border-radius: .2em;
    padding: 4px 8px;
    float: right;
    margin-top: 2px;
    font-weight: bold;
}

shopping-module ul li.add-button input {
    float: left;
}

shopping-module ul li.room-budget {
    font-size: .64em;
    margin: 4px 2px;
}

shopping-module ul div.bottom-window {
    position: fixed;
    height: 60px;
    width: 100%;
    left: 0;
    bottom: 0;
    border-top: 1px solid #eeeeee;
    background-color: white;
}

shopping-module ul div.bottom-window p {
    margin: 4px 8px;
    font-weight: bold;
    font-size: .8em;
}
