shopping-module .loading:after {
  overflow: hidden;
  display: inline-block;
  vertical-align: bottom;
  -webkit-animation: ellipsis steps(4,end) 900ms infinite;
  animation: ellipsis steps(4,end) 900ms infinite;
  content: "\2026"; /* ascii code for the ellipsis character */
  width: 0px;
}

@keyframes ellipsis {
  to {
    width: 20px;
  }
}

@-webkit-keyframes ellipsis {
  to {
    width: 20px;
  }
}

shopping-module ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

shopping-module ul li.title {
    color: white;
    padding: 4px 8px;
    font-size: 1em;
    border-radius: .1em;
    margin: 2px 0;
    background-color: red;
}

shopping-module ul .up {
    background: red url('./chevrondown.png') no-repeat right;
    background-size: 28px auto;
}

shopping-module ul .down {
    background: red url('./chevron.png') no-repeat right;
    background-size: 28px auto;
}

shopping-module ul li.add-button {
    width: 100%;
    display: inline-block;
}

shopping-module ul li.add-button button {
    background-color: red;
    color: white;
    border: 1px solid red;
    border-radius: .2em;
    padding: 4px 8px;
    float: right;
    margin-top: 2px;
}

shopping-module ul li.add-button input {
    float: left;
}
