shopping-project {
    display: block;
    width: 100%;
    margin: 48px 0 120px 0;
}

shopping-project div.container button.add-room {
    background-color: white;
    color: #3333cc;
    padding: 4px 8px;
    border: 2px solid #3333cc;
    border-radius: .2em;
    float: right;
    margin: 24px 0 0 0;
    font-weight: bold;
}

shopping-project div.container .to-top {
    margin-top: 0px !important;
}

shopping-project div.container input.room-name {
    float: right;
    padding: 3px 8px;
    width: 34%;
    margin: 24px 0 0 6px;
}
