shopping-user span div.user-new {
    padding: 0 12px;
}

shopping-user span div.user-new h3 {
    color: #ff3300;
}

shopping-user span div.user-new p {
    font-size: .9em;
}

shopping-user span div.user-new div.input-container label {
    display: inline-block;
    width: 100%;
    font-weight: bold;
    margin: 4px 0;
}

shopping-user span div.user-new div.input-container input {
    border: 1px solid #eeeeee;
    padding: 12px;
    width: 74%;
    border-radius: .25em;
}

shopping-user span div.user-new button {
    background-color: #ff3300;
    color: white;
    font-size: 1.1em;
    border: 2px solid #ff3300;
    border-radius: .25em;
    padding: 4px 12px;
    margin: 12px 0;
    cursor: pointer;
}

shopping-user span div.user-new div.auth-error {
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: white;
    top: 0;
    left: 0;
}

shopping-user span div.user-new div.auth-error div.content {
    padding: 24px 12px;
    text-align: center;
}

shopping-user span div.user-new div.auth-error div.content button {
    font-size: 1em;
    margin-right: 12px;
}

shopping-user span div.user-recognized {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 40px;
    border-bottom: 1px solid #eeeeee;
    box-shadow: 2px 2px 2px #f6f6f6;
    -webkit-box-shadow: 2px 2px 2px #f6f6f6;
    -moz-box-shadow: 2px 2px 2px #f6f6f6;
    background-color: white;
}

shopping-user span div.user-recognized p {
    margin: 12px 8px;
    width: 60%;
    overflow: hidden;
    float: left;
}

shopping-user span div.user-recognized button {
    background-color: #ff3300;
    color: white;
    border: 2px solid #ff3300;
    border-radius: .25em;
    padding: 4px 12px;
    margin: 8px 8px;
    float: right;
    cursor: pointer;
}
